<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="https://cdn5.vectorstock.com/i/1000x1000/29/69/online-banking-application-vector-37162969.jpg" type="image/x-icon">
    <title>Banking Application</title>
</head>
<body>
    {{>navbar}}
</body>
</html>