<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <style>
        .btn-border-blue:hover {
            background-color: transparent;
            border: 2px solid rgb(0, 0, 150);
        }
        @media only screen and (max-width:1100px) and (min-width : 768px) {
            main img{
                width: 450px;
            }
        }
        @media only screen and (max-width:767px) and (min-width : 480px) {
            main{
                display: flex;
                flex-direction: column;
                gap: 50px;
            }
            main img{
                width: 400px;
            }
            
        }
        @media only screen and (max-width : 480px){
            main{
                display: flex;
                flex-direction: column;
                gap: 30px;
                
            }
            main img{
                width: 300px;
            }
        }
    </style>
</head>
<body>
    <main class="bg-black h-screen flex justify-center items-center">
        <img src="https://cdn.dribbble.com/users/175818/screenshots/5129443/animation.gif" alt="animation">
        <div class="container flex flex-col gap-10 justify-center items-center">
            <h1 class="text-white text-3xl font-bold">Banking Application</h1>
            <a href="/register.hbs">
                <button class="w-48 h-10 bg-blue-500 text-white text-lg font-semibold rounded-lg transition duration-300 hover:bg-transparent btn-border-blue">sign up</button>
            </a>
            <a href="/login.hbs">
                <button class="w-48 h-10 bg-transparent border-2 border-blue-500 text-white text-lg font-semibold rounded-lg transition duration-300 hover:bg-blue-500 hover:border-transparent">sign in</button>
            </a>
        </div>
    </main>
</body>
</html>
